
{% extends 'base.html' %}
<div class="main">
        <div class="container">
                <div class="section text-center">
                        <div class="row">
                          <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">Join us Now</h2>
                            <h3>Benefits</h3>
                            <h5 class="description">earn and Master Full stack Developing .We teach expects of programming from web
                              Development to android and ios app Development from Scratch
                              What will we cover?
                            </h5>
                          </div>
                        </div>
                        <div class="features">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-info">
                                  <i class="material-icons">school</i>
                                </div>
                                <h4 class="info-title">Complete Development Course</h4>
                                <p>earn and Master Full stack Developing .We teach expects of programming from web Development to android
                                  and ios app Development from Scratch
                                  What will we cover?
                                  Learn Development Life Cycles,
                                  Processes of developing:Research & Planning,sitemap,User Experience Design & Wire framing, Client
                                  training payment Methods and Strategies</p>
                                </p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-success">
                                  <i class="material-icons">layers</i>
                                </div>
                                <h4 class="info-title">Kick off your Career</h4>
                                <p>earn and Master Full stack Developing .We teach expects of programming from web Development to android
                                  and ios app Development from Scratch
                                  What will we cover?
                                  Learn Development Life Cycles,
                                  Processes of developing:Research & Planning,sitemap,User Experience Design & Wire framing, Client
                                  training payment Methods and Strategies</p>
                                </p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="info">
                                <div class="icon icon-danger">
                                  <i class="material-icons">people</i>
                                </div>
                                <h4 class="info-title">Awesome Community</h4>
                                <p>Learn and Master Full stack Developing .We teach expects of programming from web Development to android
                                  and ios app Development from Scratch
                                  What will we cover?
                                  Learn Development Life Cycles,
                                  Processes of developing:Research & Planning,sitemap,User Experience Design & Wire framing, Client
                                  training payment Methods and Strategies</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="section text-center">
                        <h2 class="title">Here is our team</h2>
                        <div class="team">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="team-player">
                                <div class="card card-plain">
                                  <div class="col-md-6 ml-auto mr-auto">
                                    <img src={% static 'img/faces/1.png' %} alt="Thumbnail Image"
                                      class="img-raised rounded-circle img-fluid">
                                  </div>
                                  <h4 class="card-title">Nicolas MAluleke
                                    <br>
                                    <small class="card-description text-muted">Instructor</small>
                                  </h4>
                                  <div class="card-body">
                                    <p class="card-description">Programmer with 4over 5 years of Coding exprience.Has exprience in the
                                      following languages.
                                    </p>
                                    <button class="btn btn-link"><a class="btn btn-info" href="profilePage.php">Learn More</a></button>
                                  </div>
                                  <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="team-player">
                                <div class="card card-plain">
                                  <div class="col-md-6 ml-auto mr-auto">
                                    <img src={% static 'img/faces/1.png' %} alt="Thumbnail Image"
                                      class="img-raised rounded-circle img-fluid">
                                  </div>
                                  <h4 class="card-title">Tshepo Motlathole
                                    <br>
                                    <small class="card-description text-muted">Instructor</small>
                                  </h4>
                                  <div class="card-body">
                                    <p class="card-description">Programmer with 4over 5 years of Coding exprience.Has exprience in the
                                      following languages
                                    </p>
                                    <button class="btn btn-link"><a class="btn btn-info" href="profilePage.php">Learn More</a></button>
                                  </div>
                                  <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="team-player">
                                <div class="card card-plain">
                                  <div class="col-md-6 ml-auto mr-auto">
                                    <img src={% static 'img/faces/1.png' %} alt="Thumbnail Image"
                                      class="img-raised rounded-circle img-fluid">
                                  </div>
                                  <h4 class="card-title">Unknown Marketer
                                    <br>
                                    <small class="card-description text-muted">Marketer</small>
                                  </h4>
                                  <div class="card-body">
                                    <p class="card-description">You can write here details about one of your team members. You can give
                                      more details about what they do. Feel free to add some
                                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                    <button class="btn btn-link"><a class="btn btn-info" href="profilePage.php">Learn More</a></button>
                                  </div>
                                  <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                  
        </div>
</div>