{% extends 'base.html' %}
{% load humanize %}

{% load static %}
{% block title%}Let's Code This Weekend{% endblock %}

{% block content %}
<div class="page-header header-filter blur-filter blue-filter " data-parallax="true"
  style="background-image: url({% static 'img/main-background.jpg' %});background-size: cover;">
  <div class="container ">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto mt-5">
        <div class="brand mt-5">
          <h1>Let's Code This Weekend</h1>
          <h3>Engage in Development activities and learn with us every weekend here.</h3>
          <form action="" class="">
            <div class="input-group">

              <input type="text" class="form-control" placeholder="Find your Course..">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <button class="btn btn-rose m-o"><i class="material-icons">search</i></button>
                </span>
              </div>
            </div>
          </form>
          <a href=" {% url 'courses' %} " class="btn btn-info btn-rose btn-round ">Start Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb -->
<section class="main">
    <div>
        <div id="main-slider" class="product-slider owl-carousel owl-theme">
            {% for course in courses %}
            <div class="item">
              <div class=" "  >
                <!-- Card -->
                <div class="card card-image main-slide img-fluid"style="background-image: url({{ course.image.url }});">
                  <!-- Content -->
                  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div class="shade p-5">
                      <h5 class="pink-text p-4"><i class="fas fa-chart-pie"></i> {{ course.category }}</h5>
                      <h3 class="card-title text-white p-2"><strong> {{course.title}} </strong></h3>
  
                      <a href="{% url 'detail' course.id %}" class="btn btn-rose"><i class="fas fa-clone left"></i> View</a>
                    </div>
                  </div>
  
                </div>
                <!-- Card -->
              </div>
            </div>
            {% endfor %}
          </div>
    </div>
  </section>

<div class="main  mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="section m-0">
          <div class="row">
              <div class="col-md-12 ml-auto mr-auto">
                <h2 class="display-2 text center">Recently updated Tutorials</h2>
              </div>
            </div>
          <div class="row">
              
              <div class="row ml-2">
                  <div>
                    <button class="btn btn-primary px-1 py-3 active" onlick="filterSelection('all')">Show All</button>
                    <button class="btn btn-primary px-1 py-3" onlick="filterSelection('general')">General</button>
                    <button class="btn btn-primary px-1 py-3" onlick="filterSelection('computer_science')">Computer
                      Science</button>
                    <button class="btn btn-primary px-1 py-3" onlick="filterSelection('programming')">Programming</button>
                    <button class="btn btn-primary px-1 py-3" onlick="filterSelection('development')">Development</button>
                    <button class="btn btn-primary px-1 py-3" onlick="filterSelection('gaming')">Gaming</button>
                    <button class="btn btn-primary px-1 py-3" onlick="filterSelection('IT')">Information tech</button>
                    <button class="btn btn-primary px-1 py-3" onlick="filterSelection('cyber_security')">Cyber
                      Security</button>
                  </div>
                </div>
                {% if courses %}
            {% for course in courses %}
            <div class="col col-md-6">
                <div class="card card-nav-tabs text-center">
                  <div class="card-body">
                    <img class="card-img-top" src="{{ course.image.url }}" height="200" alt="Card image cap">
                    <h4 class="card-title">{{ course.title }}</h4>
               <p class="card-text">{{course.description|truncatewords:12}} </p> 
               <a href="{% url 'detail' course.id %}">Read More</a>
               <!-- <p class="card-title ">Price  :R {{course.price}}.00 </p> -->
                    <h4>Instructor : Nicolas Maluleke</h4>
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-sm-10 ml-auto">
                      <h4>Rating :</h4>
                    </div>
                    <div class="col-md-6 col-12 ml-5 my-4">
                      <div class="rating">
                        <input type="radio" name="{{ course.id }}" id="star1"><label for="star1"></label>
                        <input type="radio" name="{{ course.id }}" id="star2"><label for="star2"></label>
                        <input type="radio" name="{{ course.id }}" id="star3" checked><label for="star3"></label>
                        <input type="radio" name="{{ course.id }}" id="star4"><label for="star4"></label>
                        <input type="radio" name="{{ course.id }}" id="star5"><label for="star5"></label>
                      </div>
                    </div>
                  </div>

                  <div class="mt-0">
                    <!-- <a href="#0" class="btn btn-rose btn-round"> <i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    <a href="#0" class="btn btn-outline-danger btn-round"> <i class="fas fa-heart"></i> Add to
                      Wishlist</a> -->
                      <a href="{% url 'detail' course.id %}" class="btn btn-outline-danger btn-round"> View Tutorial </a>
                  </div>
                  <div class="card-footer text-muted">
                    Created on :{{course.pub_date|date:"F j,Y"}}
                  </div>
                </div>
              </div>

            {% endfor %}
            {% else  %}
            <div class="col-md-12 mt-5">
              <div class="container text-center">
                <h3>Sorry there are no Courses Available at the moment, please try again later..</h3>
              </div>
            </div>
            {% endif %}
            <!-- Card1  -->

            <!-- Card 1 End -->


          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="section text-center">
          <div class="row">
            <div class="col-md-8 ml-auto nr-auto">
              <h3 class="title"></h3>
            </div>
          </div>
        </div>
        <div>
          <h3 class="title">News Feed</h3>
          
          {% if posts %}
          {% for post in posts %}
                    <!-- post 1 -->
                    <div class="card">
                        <div class="card-body ">
                          <h6 class="card-category text-danger">
                            <i class="material-icons">trending_up</i> Trending
                          </h6>
                          <h4 class="card-title">
                            <a href="{% url 'postDetail' post.id %}">{{ post.title }}</h4>
                        </div>
                        <div class="card-footer ">
                          <div class="author">
                            <a href="#pablo">
                              <img
                                src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?auto=format&fit=crop&w=334&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"
                                alt="..." class="avatar img-raised">
                              <span>{{ post.author.first_name }} {{ post.author.last_name }}</span>
                            </a>
                          </div>
                          <div class="stats ml-auto">
                            <i class="material-icons">favorite</i> 342 &#xB7;
                            <i class="material-icons">chat_bubble</i> 45
                          </div>
                        </div>
                      </div>
          {% endfor %}
          {% else %}
              <div class="container">
                <h4>Sorry there are no Posts Available at the moment</h2>
              </div>
          {% endif %}

          <!-- Adevert Space -->

          <div class="card card-profile ml-auto mr-auto mt-5" style="max-width: 360px">
            <div class="card-header card-header-image " style="padding-bottom: 390px ">
              <a href="#pablo">
                Advertsment space
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-12 ml-auto mr-auto text-center">
      <div class="section ">
          <div class="container">
            <div>
                <h2 class="title m-0">Popular Challenges</h2>
            </div>
            <div id="product-slider" class="product-slider owl-carousel owl-theme">
              {% for course in courses %}
              <div class="  item">
                <div class="container col col-12" >
                  <!-- Card -->
                  <div class="card card-image"style="background-image: url({{ course.image.url }});" height="200">
  
                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                      <div class="course-list-title px-3">
                        <h4 class=""><i class="fas fa-chart-pie"></i> {{ course.category }}</h4>
                        <h3 class="card-title text-rose"><strong> {{course.title}} </strong></h3>
                        <a href="{% url 'detail' course.id %}" class="btn btn-rose  mb-2"><i class="fas fa-clone left"></i> View</a>
                      </div>
                    </div>
  
                  </div>
                  <!-- Card -->
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
    </div>
  </div>

</div>
<script>
    
  
</script>

{% endblock %}