.course{
    background-color: #3C4858;
    margin: 1.75rem 0 0.875rem;
    transition-property: all;
    transition-duration: .6s;
    border: 1px dotted white;
}

.course:hover{
    background-color: blue;

}

.rating{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%,-50%) rotateY(180deg);
    display: flex;

}
.rating input {
    display: none
}
.rating label
{
    display: block;
    cursor: pointer;
    width: 20px;
    color: #3C4858;


}

.rating label::before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 20px;

}

.rating label::after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 20px;
    top: 0;
    color: #E91E63  ;
    opacity: 0 ;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0,.5)

}
.rating label:hover:after,
.rating input:checked ~label:after
{

    opacity: 1;

}

/* course-list-title */
.shade, .course-list-title {
    /* background-color:rgba(14, 13, 13, 0.747); */
    background: rgba(0, 0, 0, 0.493);

    border-radius: 2%;
}





/* login */
.login-page .page-header:before,
.profile-page .page-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.login-page .card-login {
  border-radius: 0.25rem;
  padding-bottom: 0.7rem;
  max-width: 320px;
}

.login-page .card-login .btn-wd {
  min-width: 180px;
}

.login-page .card-login .logo-container {
  width: 65px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.login-page .card-login .logo-container img {
  width: 100%;
}

.login-page .card-login .input-group:last-child {
  margin-bottom: 40px;
}

.login-page .card-login.card-plain .form-control::-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.login-page .card-login.card-plain .form-control:-moz-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.login-page .card-login.card-plain .form-control::-webkit-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.login-page .card-login.card-plain .form-control:-ms-input-placeholder {
  color: #ebebeb;
  opacity: 1;
  filter: alpha(opacity=100);
}

.login-page .card-login.card-plain .form-control {
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.login-page .card-login.card-plain .form-control:focus {
  border-color: #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

.login-page .card-login.card-plain .has-success:after,
.login-page .card-login.card-plain .has-danger:after {
  color: #FFFFFF;
}

.login-page .card-login.card-plain .has-danger .form-control {
  background-color: transparent;
}

.login-page .card-login.card-plain .input-group-text {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.login-page .card-login.card-plain .input-group-focus .input-group-text {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.login-page .card-login.card-plain .form-group.no-border .form-control,
.login-page .card-login.card-plain .input-group.no-border .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.login-page .card-login.card-plain .form-group.no-border .form-control:focus,
.login-page .card-login.card-plain .form-group.no-border .form-control:active,
.login-page .card-login.card-plain .form-group.no-border .form-control:active,
.login-page .card-login.card-plain .input-group.no-border .form-control:focus,
.login-page .card-login.card-plain .input-group.no-border .form-control:active,
.login-page .card-login.card-plain .input-group.no-border .form-control:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.login-page .card-login.card-plain .form-group.no-border .form-control+.input-group-text,
.login-page .card-login.card-plain .input-group.no-border .form-control+.input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
}

.login-page .card-login.card-plain .form-group.no-border .form-control+.input-group-text:focus,
.login-page .card-login.card-plain .form-group.no-border .form-control+.input-group-text:active,
.login-page .card-login.card-plain .form-group.no-border .form-control+.input-group-text:active,
.login-page .card-login.card-plain .input-group.no-border .form-control+.input-group-text:focus,
.login-page .card-login.card-plain .input-group.no-border .form-control+.input-group-text:active,
.login-page .card-login.card-plain .input-group.no-border .form-control+.input-group-text:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.login-page .card-login.card-plain .form-group.no-border .form-control:focus+.input-group-text,
.login-page .card-login.card-plain .input-group.no-border .form-control:focus+.input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.login-page .card-login.card-plain .form-group.no-border .input-group-text,
.login-page .card-login.card-plain .input-group.no-border .input-group-text {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #FFFFFF;
}

.login-page .card-login.card-plain .form-group.no-border.input-group-focus .input-group-text,
.login-page .card-login.card-plain .input-group.no-border.input-group-focus .input-group-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.login-page .card-login.card-plain .input-group-text,
.login-page .card-login.card-plain .form-group.no-border .input-group-text,
.login-page .card-login.card-plain .input-group.no-border .input-group-text {
  color: rgba(255, 255, 255, 0.8);
}

.login-page .link {
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.page-header {
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
  }
  
  .page-header>.content {
    margin-top: 12%;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .page-header.page-header-small {
    min-height: 60vh;
    max-height: 440px;
  }
  
  .page-header:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .page-header>.container {
    z-index: 2;
    padding-top: 12vh;
    padding-bottom: 40px;
  }
  
  .page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .page-header .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
  }
  
  .page-header footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .page-header .container {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
  }
  
  .page-header .category,
  .page-header .description {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .page-header:after,
  .page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
  }
  
  .clear-filter:after,
  .clear-filter:before {
    display: none;
  }
  
  .clear-filter[filter-color="orange"] {
    background: rgba(44, 44, 44, 0.2);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 3, 132, 0.6));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 3, 132, 0.6));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 3, 132, 0.6));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 3, 132, 0.6));
    /* Standard syntax */
  }
  



  /* Step Sections */
  .panel {
    padding: 0 20px;
    display: none;
    overflow: hidden;
    
  }

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #E91E63;
  cursor: pointer;
  padding: 18px;

  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.Stepactive, .accordion:hover {
  background-color: #ccc;
}

/* add icon */
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  
  float: right;
  margin-left: 5px;
}

.Stepactive:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/* courses Filter */
.course-container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* social Media Icons */
.patreon {
  color: #E85B46;
}
.linkedin {
  color : #025682;
}
.facebook {
  color:
}
.twitter {
  color :#28AAE1;
}

/*
*
* ======================================================================
* TOP BAR
* ======================================================================
*
*/
#top {
  background: #555;
  padding: 10px 0;
}

#top .offer {
  color: #fff;
}

#top .offer .btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (max-width: 991.98px) {
  #top {
    font-size: 0.738rem;
    text-align: center;
  }
}

#top a {
  color: #fff;
}

#top ul.menu {
  padding-top: 5px;
  margin: 0;
  font-size: 0.738rem;
}

#top ul.menu > li {
  margin-right: 0;
}

#top ul.menu > li a {
  color: #eee;
}

#top ul.menu > li + li:before {
  content: "|\00a0";
  padding: 0 5px;
  color: #f8f9fa;
}

#top ul.menu > .active {
  color: #999;
}

#top #login-modal .modal-header {
  background: #2b90d9;
}

#top #login-modal .modal-header h5 {
  color: #fff;
}

#top #login-modal a {
  color: #2b90d9;
}

#top #login-modal p {
  font-weight: 300;
  margin-bottom: 20px;
}


/* Social icons */

.social {
  text-align: center;
}

.social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
  background-color: #555;
}

.social a i {
  vertical-align: bottom;
  line-height: 30px;
}

.social a.facebook:hover {
  background-color: #4460ae;
}

.social a.gplus:hover {
  background-color: #c21f25;
}

.social a.twitter:hover {
  background-color: #3cf;
}

.social a.instagram:hover {
  background-color: #cd4378;
}

.social a.email:hover {
  background-color: #4a7f45;
}


/* Slide Panel on top 1 */
.product-slider {
  clear: both;
  margin-bottom: 20px;
}

.product-slider .item {
  margin: 0 25px;
}

.product-slider .product {
  margin-bottom: 0;
}

 .product-slider .owl-dots {
  position: relative;
  margin-bottom: 30px;
  
}
