{% extends 'admin/base.html' %}
{% load static %}
{% block branding %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<h1 id="head"><i class="fas fa-code"></i> Let's Code This Weekend <span style="font-weight: normal;color:#ffff" >admin Panel</span></h1>
{% endblock  %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock %}