.course {
    background-color: #3C4858;
    margin: 1.75rem 0 0.875rem;
    transition-property: all;
    transition-duration: .6s;
    border: 1px dotted white;
}

.course:hover {
    background-color: blue;
}