.rating {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
}

.rating input {
    display: none
}

.rating label {
    display: block;
    cursor: pointer;
    width: 20px;
    color: #3C4858;
}

.rating label::before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 20px;
}

.rating label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 20px;
    top: 0;
    color: $blue;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5)
}

.rating label:hover:after,
.rating input:checked~label:after {
    opacity: 1;
}