{% extends 'base.html' %}
{% load static %}
{% block title%}
{{ course.title }}
{% endblock %}
{% block content %}


<div class="page-header header-filter blur-filter blue-filter " data-parallax="true" style="background-image: url({{ course.image.url}})">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>{{ course.title }}</h1>
            <h3>Select your Course w and move from Zero to Hero Within a Short space of time.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main bg-info">
    <div class="container text-dark">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <article>
                <h2 class="title">{{ course.title }}</h2>
                <p class=" text-dark">{{ course.description }}</p>
            </article>
            <hr>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="main text-dark bg-warning">
        <div class="container text-dark">
          <div class="section text-center">
            <div class="row">
              <div class="col-md-12 ml-auto mr-auto">
                <h2 class="display-2">Lectures</h2>
                <hr>
                <section>
                    {% for step in course.Step.all %}

                    <h3>{{ Step.title }</h3>
                    <p>{{ step.description }}</p>
                    {% endfor %}
                </section>
              </div>

            </div>
          </div>
        </div>
        </div>
{% endblock%}
