<footer class="footer " data-background-color="black">
        <div class="container">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  let's Code This weekend
                </a>
              </li>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>,Web apps by <a href="#">octsolutions.com</a>
          </div>
        </div>
      </footer>
    