{% load course_extras %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
      <title>{{ title }} - Let's Code This Weekend</title>
    {% else %}
      <title>Let's Code This Weekend</title>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include '_partials/stylesheets.html' %}
  </head>
  <body>

    {% include '_partials/navbar.html' %}

    {% block content %}{% endblock %}

    {% include '_partials/footer.html' %}

    <!-- {% include "_partials/loader.html" %} -->

    {% include '_partials/scripts.html' %}
  </body>
</html>
